<%- include('./partials/header', { title: 'User Login' }) -%> 
<%- include('./partials/nav') -%> 

<div class="container">
    <form method="post" action="/login" class="content-margin">
        <label class="mdc-text-field mdc-text-field--outlined">
            <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
                <span class="mdc-floating-label" id="my-label-id">Your Name</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id">
        </label>
        
        </p>          
        <button class="btn waves-effect waves-light black" type="submit"><i class="material-icons left">how_to_reg</i>Login !</button>
        </p>
    </form>
    <a href="/">Retour Page d'accueil</a>

</div>

<%- include('./partials/footer', { color: '' }) -%>