<%- include('./partials/header', { title: 'BC-TA' }) -%> 

<div class="homepage container content-padding">
    <h1>BC-TA</h1> 
    <h3 class="teal-text">La blockchain pour un accès autorisé et traçable à des données</h3> 
    <p>Dans un monde où la création de jeux de données se multiplie, il est primordial de savoir maîtriser le partage de ces derniers. Cela touche en particulier le monde de la génomique où de nombreux laboratoires élaborent des jeux de données de génome bactériens qui nécessitent d’être partagés avec les chercheurs extérieurs. Il est aujourd’hui possible pour un chercheur d’un autre laboratoire d’accéder à ces jeux de données à condition qu’il signe un engagement à ne pas utiliser ces données à d’autres fins que celles prévues. Mais cette procédure n’est aujourd’hui pas similaire entre laboratoires et n’est pas automatisée donc les échanges se font rares alors que les chercheurs de la France entière pourraient avoir accès à tellement plus de jeux de données qu’ils ne l’imaginent. 

        Se pose alors une question: comment automatiser le processus d’accès aux données en s’assurant de l’identité des chercheurs qui les utilisent, de leur engagement à une bonne utilisation des données tout en gardant une trace de toutes les utilisations des jeux de données qui ont été faites. 
        
        C’est là qu’intervient BC-TA. Grâce à la blockchain, nous sommes capables de répondre à l’ensemble de ces problématiques.
        
    </p>
    <div class="links">
        <a class="btn btn-register waves-effect waves-light btn" href="/enroll"> Register </a>
        
        <form method="post" action="/dataAccess">
            <input class="btn btn-register waves-effect waves-light btn" type="submit" value="Acess Data">
        </form>
    </div>
    <div class="advantages-section">
        <h5 class="teal-text">Pourquoi une solution employant la Blockchain ?</h5>
        <div class="advantages">
            <section>
                <h6>Gestion des accès et des identités</h6>
                <p>N’autoriser que les entités autorisées ayant signé le formulaire d’engagement du bon usage à accéder à
                    un jeu de données grâce à une vérification des identités.</p>
            </section>
            <section>
                <h6>Automatisation des traitements</h6>
                <p>Synchronisation automatique des informations détenus par les laboratoires sur les accès aux jeux de données.</p>
            </section>
            <section>
                <h6>Décentralisation et sécurité</h6>
                <p>Pas d'organe central de controle. Permet une meilleure fiabilité des informations et une meilleure tolérance aux pannes du système d'un laboratoire.</p>
            </section>
            <section>
                <h6>Historique et traçabilité</h6>
                <p>Tracer/logger chaque accès autorisé aux jeux de données dans la blockchain.</p>
            </section>
        </div>
    </div>
    

    
</div>

<%- include('./partials/footer', { color: 'teal lighten-4' }) -%>