<%- include('./partials/header', { title: 'Bienvenue' }) -%> 

<div class="container">
   <p> You have successfully launched the app ! </p> 
    <a class="TheButton" href="/enroll"> Go to Registration Page </a>
    <a class="'Second Button" href="/login">Go to Login Page</a> 
</div>

<%- include('./partials/footer') -%>