<%- include('./partials/header', { title: 'BC-TA' }) -%> 

<div class="homepage container content-margin">
   <p>BC-TA</p> 
    <a class="TheButton" href="/enroll"> Register </a>
    <a class="'Second Button" href="/dataAccess">Access data</a> 
</div>

<%- include('./partials/footer') -%>