<%- include('./partials/header', { title: 'BC-TA' }) -%> 
<%- include('./partials/nav') -%> 

<div class="container content-margin">
    <h5>Signer la charte d'engagement</h5>
    <%- include('./partials/forms/signForm') -%> 
    </div>
</div>
</div>


<%- include('./partials/footer', { color: '' }) -%>