<div class="container">    
      <div class="content-margin card-panel hoverable white-grey darken-1">
        <div class="card-content black-text center">
          <span class="card-title center"><%= formtitle %></span>