<footer class="page-footer lighten">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="black-text" style="font-family: 'Syne Tactile', cursive;">BC-TA : a Blockchain-based IAM platform for Lab data.</h5>
				<p class="black-text text-lighten-4">This platform was developed in the D4GenHack as a decentralized Identity and Access Management solution between research labs.  </p>
			</div>
			<div class="col l4 offset-l2 s12">
				<ul>
			</div>
			</div>
		
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
		<p class="black-text">© 2022 BC-TA team</p>
		</div>
	</div>
</footer>
</body>
</html>