<nav>
    <div class="nav-wrapper teal z-depth-2">
      <a class="brand-logo center" href='/'>
        <i class="large material-icons prefix" style="font-family: 'Syne Tactile', cursive;">BC-TA</i>
    </a>
  </div>
</nav> 